<!DOCTYPE html>
<html>
  <head>
    <title><%= title %> Login</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <form action="/login1" method="post" name="frm_login" id="frm_login">
        <input type="text" name="username" />
        <input type="password" name="password"/>
        <input type="submit"  value="Login"/>
    </form>
  </body>
</html>